.stockDiv
	position: absolute
	display: -webkit-flex
	display: flex
	-webkit-flex-direction: row
	flex-direction: row
	-webkit-align-items: center
	align-items: center
	-webkit-justify-content: center
	justify-content: center
	text-align: center
	width: 45%
	height: 320px
	left: 0
	right: 35%
	margin-left: auto
	margin-right: auto
	margin-top: 6%
	overflow: hidden

	border: 2px solid #C1AF01
	border-radius: 10px
	background-color: #F5F5F5
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1)
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1)
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,1)
	.buttonBuyPremium
		width: 100px
		height: 40px
		margin-bottom: 10%

		cursor: pointer
		border: none
		color: #F5F5F5
		border: 2px solid #C1AF01
		border-radius: 5px
		background-color: #FAB800
	.buttonBuyPremium:active
		opacity: 0.7
	.buttonBuyPremium:focus
		outline-color: #F5F5F5
	.buttonBuyPremium:focus
		outline-color: #F5F5F5
	.buttonBuyPremium:hover
		transform: scale(1.3)
		transition: all 0.5s
	.first
		padding: 5px
		color: #4CAF50
		font-size: 20px
		font-weight: 600
	.second
		padding: 5px
		color: #4CAF50
		font-size: 20px
		font-weight: 600
	.last 
		padding: 5px
		color: #4CAF50
		font-size: 20px
		font-weight: 600
	.premiumIcon
		width: 75%
		margin-bottom: 5%
	.restDays
		margin: 0px
		padding: 0px

.saleDiv
	position: absolute
	width: 25%
	height: 320px
	left: 0
	right: 0
	margin-left: auto
	margin-right: 10%
	margin-top: 6%
	overflow: hidden
	text-align: center

	border: 2px solid #C1AF01
	border-radius: 10px
	background-color: #F5F5F5
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1)
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1)
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,1)
	.premiumSale
		text-decoration: underline
		font-size: 16px
		font-weight: 600
		cursor: pointer
		color: #E63436
	.premiumSaleSec
		font-size: 32px
		font-weight: 600
		color: #4CAF50
	.premiumIcon
		width: 55%
		margin-top: 5%
	.hundradagar
		display: none
		margin: 50px
		padding: 0px
	.buttonBuyPremium
		width: 100px
		height: 40px

		cursor: pointer
		border: none
		color: #F5F5F5
		border: 2px solid #C1AF01
		border-radius: 5px
		background-color: #FAB800
	.buttonBuyPremium:active
		opacity: 0.7
	.buttonBuyPremium:focus
		outline-color: #F5F5F5
	.buttonBuyPremium:hover
		transform: scale(1.3)
		transition: all 0.5s



















